body{
    margin:0;
    font-family: Arial;
    background-color: #235347;
}


.encabezado{
    background-color: #051f20;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu{
    background-color: #173834;
    text-align: center;
    padding: 10px;
}

.menu a{
    color: white;
    margin: 15px;
    text-decoration: none;
}
/* Contenido de la pagina*/
.contenido{

    background-color: #8cb79b;
    
    padding: 20px;
    margin: 30px;
    
}

.titulo{
    text-align: center;
}


/* Pie de la pagina*/
.pie{
    background-color: #051f20;
    color: white;
    text-align: center;
    padding: 15px;
}